version: "3"
services:
  backend:
    build: ./backend
    env_file:
      - .env
    container_name: backend
    ports:
      - "5001:5000"
    networks:
      - webnet
    depends_on:
      - rabbitmq

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - webnet

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # port dla AMQP
      - "15672:15672" # port dla interfejsu webowego
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - webnet

networks:
  webnet:
