version: "3"

services:
  backend:
    build: ./backend
    env_file:
      - .env
    container_name: backend
    ports:
      - "5001:5000"
    environment:
      - DATABASE_URL=postgres://postgres:password@db:5432/pacepal
    networks:
      - webnet
    depends_on:
      - rabbitmq
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - webnet

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - webnet

  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pacepal
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/initdb:/docker-entrypoint-initdb.d:ro
    networks:
      - webnet

networks:
  webnet:

volumes:
  postgres_data: